USE [SayulitaBar]
GO
/****** Object:  Table [dbo].[Cerveza]    Script Date: 16/02/2019 03:33:21 p. m. ******/
DROP TABLE [dbo].[Cerveza]
GO
USE [master]
GO
/****** Object:  Database [SayulitaBar]    Script Date: 16/02/2019 03:33:21 p. m. ******/
DROP DATABASE [SayulitaBar]
GO
/****** Object:  Database [SayulitaBar]    Script Date: 16/02/2019 03:33:21 p. m. ******/
CREATE DATABASE [SayulitaBar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SayulitaBar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SayulitaBar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SayulitaBar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SayulitaBar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SayulitaBar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SayulitaBar]
GO
/****** Object:  Table [dbo].[Cerveza]    Script Date: 16/02/2019 03:33:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cerveza](
	[iIdCerv] [int] NOT NULL,
	[vNomb] [varchar](50) NULL,
	[vMarca] [varchar](50) NULL,
	[vModelo] [varchar](50) NULL,
	[vConNet] [varchar](50) NULL,
	[mPrec] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdCerv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cerveza] ([iIdCerv], [vNomb], [vMarca], [vModelo], [vConNet], [mPrec]) VALUES (1, N'Michelob Ultra', N'Amstel', N'Lata', N'355 ml', 19.0000)
INSERT [dbo].[Cerveza] ([iIdCerv], [vNomb], [vMarca], [vModelo], [vConNet], [mPrec]) VALUES (2, N'Indio', N'Heineken ', N'Lata pilsner', N'473 ml', 17.0000)
USE [master]
GO
